<a href="https://colab.research.google.com/github/lakshmipriya-14/sales-data-analysis-python/blob/main/Week2_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(1)


products = ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Charger']
categories = ['Electronics', 'Accessories']


data = {
'Order_ID': range(1, 51),
'Order_Date': pd.date_range(start='2024-01-01', periods=50, freq='D'),
'Product': np.random.choice(products, 50),
'Category': np.random.choice(categories, 50),
'Quantity': np.random.randint(1, 6, 50),
'Price': np.random.randint(500, 50000, 50)
}


sales_df = pd.DataFrame(data)
sales_df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price
0         1 2024-01-01  Headphones  Accessories         1  22697
1         2 2024-01-02     Charger  Electronics         5  35144
2         3 2024-01-03      Laptop  Accessories         3   3582
3         4 2024-01-04       Phone  Electronics         5  17067
4         5 2024-01-05  Headphones  Electronics         4  39729

In [5]:
sales_df['Total_Sales'] = sales_df['Quantity'] * sales_df['Price']
sales_df.head()

   Order_ID Order_Date     Product     Category  Quantity  Price  Total_Sales
0         1 2024-01-01  Headphones  Accessories         1  22697        22697
1         2 2024-01-02     Charger  Electronics         5  35144       175720
2         3 2024-01-03      Laptop  Accessories         3   3582        10746
3         4 2024-01-04       Phone  Electronics         5  17067        85335
4         5 2024-01-05  Headphones  Electronics         4  39729       158916

In [6]:
total_revenue = sales_df['Total_Sales'].sum()
total_orders = sales_df['Order_ID'].count()


print('Total Revenue:', total_revenue)
print('Total Orders:', total_orders)

Total Revenue: 3973572
Total Orders: 50

In [7]:
product_sales = sales_df.groupby('Product')['Total_Sales'].sum()
product_sales

Product
Charger       976414
Headphones    780835
Laptop        850995
Phone         916289
Tablet        449039
Name: Total_Sales, dtype: int64

In [8]:
category_sales = sales_df.groupby('Category')['Total_Sales'].sum()
category_sales

Category
Accessories    2126859
Electronics    1846713
Name: Total_Sales, dtype: int64

In [9]:
sales_df['Month'] = sales_df['Order_Date'].dt.month
monthly_sales = sales_df.groupby('Month')['Total_Sales'].sum()
monthly_sales

Month
1    2494976
2    1478596
Name: Total_Sales, dtype: int64

In [10]:
sales_df.to_csv('week2_sales_analysis_output.csv', index=False)